<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="http://localhost:3000/css/pc-head.css" type="text/css">
</head>

<body>
    <div class="box">
        <div class="mask">
            <div class="upmask"></div>
            <div class="downmask"></div>
            <span class="maskline"></span>
        </div>
        <header id="head">
            <section id="wrap">
                <a href="">
                    <img src="http://localhost:3000/pc-images/logo.png" alt="">
                </a>
            </section>
            <div class="music">
                <audio src="http://localhost:3000/pc-images/Hoki.mp3"  loop></audio>
            </div>
            <nav class="header-nav">
                <ul class="clearfix">
                    <li>
                        <a href="javascript:;">
                            <div class="up"><img src="http://localhost:3000/pc-images/home_gruen.png" alt=""></div>
                            <div class="down"> <img src="http://localhost:3000/pc-images/home.png"></div>

                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <p class="up">Course</p>
                            <p class="down">Course</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <p class="up">Works</p>
                            <p class="down">Works</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <p class="up">About</p>
                            <p class="down">About</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <p class="up">Team</p>
                            <p class="down">Team</p>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="narrow"></div>
        </header>
        <div id="contenter">
            <ul>
                <li class="home">
                    <div class="content-center">
                        <ul class="home-one">
                            <li class="commonTitle active">
                                <div>one layer</div>
                            </li>
                            <li class="commonTitle">
                                <div>twe layer</div>
                            </li>
                            <li class="commonTitle">
                                <div>three layer</div>
                            </li>
                            <li class="commonTitle">
                                <div>four layer</div>
                            </li>
                        </ul>
                        <ul class="home-two">
                            <li class="active"></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                </li>
                <li class="course">
                    <div class="content-center">
                        <div class="courtext commonTitle">
                            <span>EINIGE</span><br />
                            <span>UNSERER</span><br />
                            <span>KUNDEN</span><br />
                        </div>
                        <div class="courp commonText">
                            <p>Das Kundenvertrauen in unsere Kompetenz ist die notwendige Basis einer erfolgreichen Zusammenarbeit,
                                gleichzeitig aber auch das größte Lob, das man uns entgegenbringen kann. </p>
                            <p>Diese und viele weitere große und kleine Kunden vertrauen uns seit Jahren, was uns stolz macht,
                                und dafür sagen wir an dieser Stelle einfach mal. </p>
                        </div>
                        <div class="photo-wall">
                            <div class="line"></div>
                            <div class="line"></div>
                            <div class="line"></div>
                            <div class="line"></div>
                            <div class="line"></div>
                            <div class="photo">
                                <div class="backface"></div>
                                <div class="face">想方设法方式</div>
                            </div>
                            <div class="photo">
                                <div class="backface"></div>
                                <div class="face">啊阿达哒哒哒</div>
                            </div>
                            <div class="photo">
                                <div class="backface"></div>
                                <div class="face">啊阿达哒哒哒</div>
                            </div>
                            <div class="photo">
                                <div class="backface"></div>
                                <div class="face">啊阿达哒哒哒</div>
                            </div>
                            <div class="photo">
                                <div class="backface"></div>
                                <div class="face">啊阿达哒哒哒</div>
                            </div>
                            <div class="photo">
                                <div class="backface"></div>
                                <div class="face">啊阿达哒哒哒</div>
                            </div>
                            <div class="photo">
                                <div class="backface"></div>
                                <div class="face">啊阿达哒哒哒</div>
                            </div>
                            <div class="photo">
                                <div class="backface"></div>
                                <div class="face">啊阿达哒哒哒</div>
                            </div>
                            <div class="photo">
                                <div class="backface"></div>
                                <div class="face">啊阿达哒哒哒</div>
                            </div>
                            <div class="photo">
                                <div class="backface"></div>
                                <div class="face">啊阿达哒哒哒</div>
                            </div>
                            <div class="photo">
                                <div class="backface"></div>
                                <div class="face">啊阿达哒哒哒</div>
                            </div>
                            <div class="photo">
                                <div class="backface"></div>
                                <div class="face">啊阿达哒哒哒</div>
                            </div>
                        </div>
                        <div class="plane1"></div>
                        <div class="plane2"></div>
                        <div class="plane3"></div>
                    </div>
                </li>
                <li class="works">
                    <div class="content-center">
                        <div class="works1 commonTitle">
                            <span>EINBLICK</span><br />
                            <span>ERKENNTNIS</span><br />
                            <span>ERGEBNIS</span><br />
                        </div>
                        <div class="list">
                            <div class="item">
                                <img src="http://localhost:3000/pc-images/worksimg1.jpg" alt="">
                                <div class="cover">
                                    <p>舒服的沙发沙发沙发沙发沙发广泛广泛好烦好烦好烦好烦是</p>
                                    <div class="icon"></div>
                                </div>
                            </div>
                            <div class="item">
                                <img src="http://localhost:3000/pc-images/worksimg2.jpg" alt="">
                                <div class="cover">
                                    <p>舒服的沙发沙发沙发沙发沙发是</p>
                                    <div class="icon"></div>
                                </div>
                            </div>
                            <div class="item">
                                <img src="http://localhost:3000/pc-images/worksimg3.jpg" alt="">
                                <div class="cover">
                                    <p>舒服的沙发沙发沙发沙发沙发是</p>
                                    <div class="icon"></div>
                                </div>
                            </div>
                            <div class="item">
                                <img src="http://localhost:3000/pc-images/worksimg4.jpg" alt="">
                                <div class="cover">
                                    <p>舒服的沙发沙发沙发沙发沙发是</p>
                                    <div class="icon"></div>
                                </div>
                            </div>
                        </div>
                        <div class="robot"></div>
                        <div class="pencel1"></div>
                        <div class="pencel2"></div>
                        <div class="pencel3"></div>
                    </div>
                </li>
                <li class="about">
                    <div class="content-center">
                        <div class="about1 commonTitle">
                            <span>DIE</span><br />
                            <span>SPEZIELLE</span><br />
                            <span>VIELFALT</span><br />
                        </div>
                        <div class="about2 commonText">
                            <p>Der bunte Medienmix ist die Faszination die uns antreibt und das, was man an uns schätzt.
                                Von A bis Z und von vorne bis hinten nehmen wir Ihr Projekt unter unsere Fittiche und lassen
                                es zu etwas Großartigem heranwachsen.</p>
                        </div>
                        <div class="about3">
                            <div class="about3-img">
                                <span></span>
                                <ul data-src="http://localhost:3000/pc-images/about2.jpg">

                                </ul>
                            </div>
                            <div class="about3-img">
                                <span></span>
                                <ul data-src="http://localhost:3000/pc-images/about3.jpg">

                                </ul>
                            </div>
                        </div>
                        <div class="line"></div>

                    </div>
                </li>
                <li class="team">
                    <div class="content-center">
                        <div class="team1 commonTitle">
                            <span>WIR SIND</span><br />
                            <span>VOXELAIR</span><br />

                        </div>
                        <div class="team2">
                            <p class="commonText">Wir sind seit 2002 eine Full-Service-Werbeagentur mit Stammsitz in Heimsheim,
                                zwischen Stuttgart und Karlsruhe. </p>
                            <p class="commonText">Über 60 Jahre Erfahrung vereinen das gesamte VoxelAir-Team. Dabei hat jedes
                                Voxel neben professionellem Allroundwissen auch sein ganz spezielles Gebiet, um selbst die
                                individuellsten Kundenwünsche schnell und kompetent umzusetzen.</p>
                        </div>
                        <div class="team3">
                            <ul>

                            </ul>

                        </div>
                    </div>
                </li>

            </ul>
            <ul id="dot">
                <li class="active"></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>

</body>
<script>
    window.onload = function () {
        var narrow = document.querySelector(".narrow");
        var liNodes = document.querySelectorAll(".header-nav>ul>li");
        var upNodes = document.querySelectorAll(".header-nav>ul>li .up");
        var cliNodes = document.querySelectorAll("#contenter>ul>li");
        var cul = document.querySelector("#contenter>ul");
        var musicdiv=document.querySelector(".music");
        var musicaudio=document.querySelector(".music>audio");

        var homeOne = document.querySelector(".home-one");
        var homeOneLi = homeOne.querySelectorAll("li");
        var homeTwo = document.querySelector(".home-two");
        var homeTwoLi = homeTwo.querySelectorAll("li");

        var aboutUL = document.querySelectorAll("#contenter>ul>.about .about3>.about3-img>ul");

        var teamUL = document.querySelector("#contenter>ul>.team .team3>ul");
        var team3div = document.querySelector("#contenter>ul>.team .team3");

        var mask=document.querySelector(".box>.mask");
        var maskdiv=mask.querySelectorAll(".mask>div");
        var maskline=mask.querySelector(".mask>.maskline");

    



        var dots = document.querySelectorAll(" #contenter>#dot>li");

        var now = 0;
        var oldnum = 0;
        var timer = null;
        var a = 0;
        var preindex=0;
        /***********************************开机动画****************/
          //模拟加载过程
          //针对github更改
          var arrimg=['bg1.jpg','bg2.jpg','bg3.jpg','bg4.jpg','bg5.jpg','about1.jpg','about2.jpg','about3.jpg','about4.jpg','worksimg1.jpg','worksimg2.jpg','worksimg3.jpg','worksimg4.jpg','team.png','greenLine.png'];
          var flag=0;
        //   for(var i=0;i<arrimg.length;i++){
        //       var img=new Image();
        //       img.src="http://localhost:3000/pc-images/"+arrimg[i];
        //       img.onload=function(){
        //           flag++;
        //         //  console.log(flag);
        //          maskline.style.width=(flag/arrimg.length)*100+"%";
        //          //console.log(maskline.style.width)
        //       }
        //   }
        toGItTest=setInterval(function(){
            flag++;
            if(flag<=30){
                maskline.style.width=(flag/arrimg.length)*100+"%"; 
            }else{
                clearInterval(toGItTest);
            }
        })
          maskline.addEventListener("transitionend",function(){
              if(flag>=30){
                maskdiv[0].style.height=0+"px";
                maskdiv[1].style.height=0+"px";
              }
             this.style.display="none";
          })
          maskdiv[0].addEventListener("transitionend",function(){
              mask.remove();
              musicaudio.play();
              Threed();
          })
            //    setTimeout(function(){
            //    maskdiv[0].style.height=0+"px";
            //    maskdiv[1].style.height=0+"px";
            //    },1000)
         
    



 /***********************************音频*****************/
        musicplay();
        function musicplay(){
            musicdiv.onclick=function(){
                if(musicaudio.paused){
                    musicaudio.play();
                    musicdiv.style.background="url(images/musicon.gif)";

                }else{
                    musicaudio.pause(); 
                    musicdiv.style.background="url(images/musicoff.gif)";
                }
            }
        }


        /***********************************出入场*******/
        var animate=[
            {
                in:function(){
                    homeOne.style.transform="translateY(0px)"
                    homeTwo.style.transform="translateY(0px)"
                },
                out:function(){
                    homeOne.style.transform="translateY(-300px)"
                    homeTwo.style.transform="translateY(200px)"
                }
            },
            {
                in:function(){
                    var plane1=document.querySelector("#contenter>ul>.course .plane1");
                    var plane2=document.querySelector("#contenter>ul>.course .plane2");
                    var plane3=document.querySelector("#contenter>ul>.course .plane3");
                    plane1.style.transform="translate(0px,0px)"
                    plane2.style.transform="translate(0px,0px)"
                    plane3.style.transform="translate(0px,0px)"
                },
                out:function(){
                    var plane1=document.querySelector("#contenter>ul>.course .plane1");
                    var plane2=document.querySelector("#contenter>ul>.course .plane2");
                    var plane3=document.querySelector("#contenter>ul>.course .plane3");
        
						plane1.style.transform = "translate(-200px,-200px)";
						plane2.style.transform = "translate(-200px,200px)";
						plane3.style.transform = "translate(200px,-200px)";
                }
            },
            {
                in:function(){
                    var pencel1=document.querySelector("#contenter>ul>.works .pencel1");
                    var pencel2=document.querySelector("#contenter>ul>.works .pencel2");
                    var pencel3=document.querySelector("#contenter>ul>.works .pencel3");
                    pencel1.style.transform = "translateY(0px)";
						pencel2.style.transform = "translateY(0px)";
						pencel3.style.transform = "translateY(0px)";

                },
                out:function(){
                 var pencel1=document.querySelector("#contenter>ul>.works .pencel1");
                    var pencel2=document.querySelector("#contenter>ul>.works .pencel2");
                    var pencel3=document.querySelector("#contenter>ul>.works .pencel3");
                    pencel1.style.transform = "translateY(-100px)";
						pencel2.style.transform = "translateY(100px)";
						pencel3.style.transform = "translateY(100px)";
                }
            },
            {
                in:function(){
                    var aboutImg=document.querySelectorAll("#contenter>ul>.about .about3>.about3-img");
                    aboutImg[0].style.transform="rotate(0)";
                    aboutImg[1].style.transform="rotate(0)";


                },
                out:function(){
                    var aboutImg=document.querySelectorAll("#contenter>ul>.about .about3>.about3-img");
                    aboutImg[0].style.transform="rotate(-45deg)";
                    aboutImg[1].style.transform="rotate(45deg)";
                }
            },
            {
                in:function(){
                    var teamTitle=document.querySelector("#contenter>ul>.team .team1");
                    var teamText=document.querySelector("#contenter>ul>.team .team2");
                    teamTitle.style.transform = "translateX(0px)";
                    teamText.style.transform = "translateX(0px)";

                },
                out:function(){
                    var teamTitle=document.querySelector("#contenter>ul>.team .team1");
                    var teamText=document.querySelector("#contenter>ul>.team .team2");
                    teamTitle.style.transform = "translateX(-100px)";
                    teamText.style.transform = "translateX(100px)";
                }
            }

        ]
        
        //  animate[0].out();
        //  setTimeout(function(){
        //      animate[0].in();
        //  },4000)

        
        /***********************************第四屏*******/

        cutPhoto();
        function cutPhoto() {
            for (var i = 0; i < aboutUL.length; i++) {
                create(aboutUL[i])

            }
            function create(ul) {
                var s = ul.dataset.src;

                var w = ul.offsetWidth / 2;
                var h = ul.offsetHeight / 2;
                for (var i = 0; i < 4; i++) {
                    var aLi = document.createElement("li");
                    var aImg = document.createElement("img");
                    aImg.src = s;
                    aImg.style.left = -(i % 2) * w + "px";
                    aImg.style.top = -Math.floor(i / 2) * h + "px";
                    aLi.appendChild(aImg);
                    ul.appendChild(aLi);
                    aLi.style.width = w + "px";
                    aLi.style.height = h + "px";


                }
                ul.onmouseenter = function () {
                    var aboutImg = this.querySelectorAll("li>img");
                    //w  /*0,-1,0,-1*/   /*0,-2,1,-1*/
                    //h /*0,0,-1,-1*/  /*1,0,-1,-2*/


                    aboutImg[1].style.left = -(2 * w) + "px";
                    aboutImg[2].style.left = w + "px";
                    aboutImg[0].style.top = h + "px";
                    aboutImg[3].style.top = -(2 * w) + "px";

                }
                ul.onmouseleave = function () {
                    var aboutImg = this.querySelectorAll("li>img");
                    //w  /*0,-1,0,-1*/   /*0,-2,1,-1*/
                    //h /*0,0,-1,-1*/  /*1,0,-1,-2*/


                    aboutImg[1].style.left = -(1 * w) + "px";
                    aboutImg[2].style.left = 0 + "px";
                    aboutImg[0].style.top = 0 + "px";
                    aboutImg[3].style.top = -(1 * h) + "px";

                }
            }

        }
        /***********************************第五屏***********/
        teamfn();
        function teamfn() {
            var canvas = null;
            var timer1 = 0;
            var timer2 = 0;
            createLI();
            var team3LI = document.querySelectorAll("#contenter>ul>.team .team3>ul>li");
            for (var i = 0; i < team3LI.length; i++) {
                team3LI[i].onmouseenter = function () {
                    for (var i = 0; i < team3LI.length; i++) {
                        team3LI[i].style.opacity = 0.5;
                    }
                    this.style.opacity = 1;
                    createcanvas();
                    canvas.style.left = this.offsetLeft + "px";


                }
            }
            function createcanvas() {
                if (!canvas) {
                    canvas = document.createElement("canvas");

                    canvas.width = team3LI[0].offsetWidth;
                    canvas.height = team3LI[0].offsetHeight * 2 / 3;


               
                team3div.onmouseleave = function () {
                    for (var i = 0; i < team3LI.length; i++) {
                        team3LI[i].style.opacity = 1;
                    }
                    console.log(canvas);
                    canvas.remove();
                    canvas = null;
                    clearInterval(timer1);
                    clearInterval(timer2);

                }
                team3div.appendChild(canvas);
                bubbles();
            }
            }
            function bubbles() {
                if (canvas.getContext) {
                    var arr = [];
                    var ctx = canvas.getContext("2d");
                    //画圆

                    timer1 = setInterval(function () {
                        ctx.clearRect(0, 0, canvas.width, canvas.height);
                        //console.log(canvas.width,canvas.height);
                        //  console.log(arr);
                        for (var i = 0; i < arr.length; i++) {
                            arr[i].deg = arr[i].deg + 5;
                            //console.log(arr[i].deg)
                            //arr[i].x = arr[i].startX + (arr[i].deg*Math.PI/180)*arr[i].step/2 ;
                            //arr[i].y = arr[i].startY + Math.sin( arr[i].deg*Math.PI/180 )*arr[i].step*2;
                            arr[i].x = arr[i].startX + Math.sin(arr[i].deg * Math.PI / 180) * arr[i].step * 2;
                            arr[i].y = arr[i].startY - (arr[i].deg * Math.PI / 180) * arr[i].step;

                            ctx.fillStyle = "rgba(" + arr[i].red + "," + arr[i].green + "," + arr[i].blue + "," + arr[i].o + ")";
                            ctx.beginPath();
                            ctx.arc(arr[i].x, arr[i].y, arr[i].r, 0, 2 * Math.PI);
                            ctx.fill();
                            ctx.restore();
                            if (arr[i].y <= 50) {
                                arr.splice(i, 1);
                            }
                        }
                        //   

                    }, 1000 / 60)



                    //添加圆的数组
                    timer2 = setInterval(function () {
                        var x = Math.random() * canvas.width;
                        var r = Math.random() * 10;
                        var y = canvas.height - r;
                        var red = Math.round(Math.random() * 255);
                        var green = Math.round(Math.random() * 255);
                        var blue = Math.round(Math.random() * 255);
                        var startX = x;
                        var startY = y;
                        var deg = 0;
                        var step = Math.random() * 20 + 10;
                        var o = 1;
                        arr.push({
                            x: x,
                            y: y,
                            r: r,
                            red: red,
                            green: green,
                            blue: blue,
                            o: o,
                            startX: startX,
                            startY: startY,
                            deg: deg,
                            step
                        })
                    }, 50)

                }
            }
            function createLI() {
                for (var i = 0; i < 8; i++) {
                    var aLi = document.createElement("li");
                    aLi.style.backgroundPositionX = -i * 118 + "px";

                    teamUL.appendChild(aLi);
                }
            }
        }

        //第一屏滚动

        /***********************************point***********/
       
        function Threed() {
            for (var i = 0; i < homeTwoLi.length; i++) {
                homeTwoLi[i].num = i;
                homeTwoLi[i].onclick = function () {
                    clearInterval(timer);
                    for (var i = 0; i < homeTwoLi.length; i++) {
                        homeTwoLi[i].classList.remove("active");
                    }
                    this.classList.add("active");
                    //点击的是往右点

                    if (this.num > oldnum) {

                        homeOneLi[this.num].classList.remove("leftHide");
                        homeOneLi[this.num].classList.remove("leftShow");
                        homeOneLi[this.num].classList.remove("rightHide");
                        homeOneLi[this.num].classList.add("rightShow");

                        homeOneLi[oldnum].classList.remove("rightShow");
                        homeOneLi[oldnum].classList.remove("leftShow");
                        homeOneLi[oldnum].classList.remove("rightHide");

                        homeOneLi[oldnum].classList.add("leftHide");
                    }
                    //往左点
                    if (this.num < oldnum) {
                        homeOneLi[this.num].classList.remove("leftHide");
                        homeOneLi[this.num].classList.remove("rightShow");
                        homeOneLi[this.num].classList.remove("rightHide");
                        homeOneLi[this.num].classList.add("leftShow");

                        homeOneLi[oldnum].classList.remove("rightShow");
                        homeOneLi[oldnum].classList.remove("leftShow");
                        homeOneLi[oldnum].classList.remove("leftHide");

                        homeOneLi[oldnum].classList.add("rightHide");
                    }
                    oldnum = this.num;
                    a = this.num;
                    Tomove()
                }
            }
            homeOne.onmouseenter = function () {
                clearInterval(timer);
            }
            homeOne.onmouseleave = function () {
                Tomove();
            }
        }
        Tomove();
        function Tomove() {
            clearInterval(timer);
            timer = setInterval(function () {
                a++;
                if (a > homeTwoLi.length - 1) {
                    a = 0;
                }
                for (var i = 0; i < homeTwoLi.length; i++) {
                    homeTwoLi[i].classList.remove("active");
                }
                homeTwoLi[a].classList.add("active");

                homeOneLi[a].classList.remove("leftHide");
                homeOneLi[a].classList.remove("leftShow");
                homeOneLi[a].classList.remove("rightHide");
                homeOneLi[a].classList.add("rightShow");

                homeOneLi[oldnum].classList.remove("rightShow");
                homeOneLi[oldnum].classList.remove("leftShow");
                homeOneLi[oldnum].classList.remove("rightHide");

                homeOneLi[oldnum].classList.add("leftHide");

                oldnum = a;


            }, 2000)
        }


        //架构页面切换
        headfn();
        function headfn() {
            upNodes[0].style.width = "100%";
            narrow.style.left = liNodes[0].offsetLeft + liNodes[0].offsetWidth / 2 - narrow.offsetWidth / 2 + "px";
            for (var i = 0; i < liNodes.length; i++) {
                liNodes[i].index = i;
                liNodes[i].onclick = function () {
                    preindex=now;
                    move(this.index);
                    now = this.index;

                }

            }
            for (var i = 0; i < dots.length; i++) {
                dots[i].index = i;
                dots[i].onclick = function () {
                    preindex=now;
                    move(this.index);
                    now = this.index;

                }

            }
        }
        function move(index) {
            for (var i = 0; i < upNodes.length; i++) {
                upNodes[i].style.width = "";

            }

            upNodes[index].style.width = "100%";
            narrow.style.left = liNodes[index].offsetLeft + liNodes[index].offsetWidth - narrow.offsetWidth + "px";
            cul.style.top = -index * (document.documentElement.clientHeight - head.offsetHeight) + "px";
            for (var i = 0; i < dots.length; i++) {
                dots[i].className = "";
            }
            dots[index].className = "active";
            if(animate[preindex]&&typeof animate[index].out==="function"){
                    animate[preindex].out();
                   
        
                }
                if(animate[index]&&typeof animate[index].in==="function"){
                    animate[index].in();
        
                }
              
            
            
        }

        //内容区

        /*
				 调整分辨率
					1.没有点击的时候视口只能出现一屏  contentBind();
					2.点击后视口只能出现一屏  在1的基础上对每一屏的偏移量进行重新调整
					3.小箭头的位置也需要头部
				*/
        window.onresize = function () {
            contentfn();
            cul.style.top = -now * (document.documentElement.clientHeight - head.offsetHeight) + "px";
            narrow.style.left = liNodes[now].offsetLeft + liNodes[now].offsetWidth - narrow.offsetWidth + "px";
        }
        contentfn();
        function contentfn() {
            contenter.style.height = document.documentElement.clientHeight - head.offsetHeight + "px";
            for (var i = 0; i < cliNodes.length; i++) {
                cliNodes[i].style.height = document.documentElement.clientHeight - head.offsetHeight + 'px';
            }

            //内容区滚轮事件
            var timer = null;
            if (contenter.addEventListener) {
                contenter.addEventListener("DOMMouseScroll", function (e) {
                    e = e || event;
                    //让fn的逻辑在DOMMouseScroll事件被频繁触发的时候只执行一次
                    clearTimeout(timer);
                    timer = setTimeout(function () {
                        fn(e)
                    }, 200);

                });
            }
            contenter.onmousewheel = function (e) {
                e = e || event;
                clearTimeout(timer);
                timer = setTimeout(function () {
                    fn(e)
                }, 200);

            }
            function fn(e) {
                e = e || event;
                var dir = "";
                if (e.wheelDelta) {
                    dir = e.wheelDelta > 0 ? "up" : "down";
                } else if (e.detail) {
                    dir = e.detail < 0 ? "up" : "down";
                }
                preindex=now;
                switch (dir) {
                    case "up":
                        if (now > 0) {
                            now--;
                        }
                        move(now);
                        break;
                    case "down":
                        if (now < cliNodes.length - 1) {
                            now++;
                            console.log(now);
                        }
                        move(now);
                    //debugger
                }
            }
        }


    }
</script>

</html>
